<p id="notice"><%= notice %></p>

<p>
  <strong>Office:</strong>
  <%= @office.office_id %>
</p>

<p>
  <strong>Office name:</strong>
  <%= @office.office_name %>
</p>

<%= link_to 'Edit', edit_office_path(@office) %> |
<%= link_to 'Back', offices_path %>
